.venv
.git
.venv
.pylintrc
.vscode
.env*
.mypy_cache
.pytest_cache
.scrapy
project.egg-info
var
.env
build/
.benchmarks
init*
make-release.sh
profiles/
wem-stats.sh
dist/
.github/
*.log
db_misc.py
docker-compose.yml
mypy.ini
pytest.ini
test.json
tests/
tox.ini
web-stats.sh
.requests.sqlite
.DS_Store
.editorconfig
Dockerfile
Dockerfile.scrapyd
TODO.md
__pycache__
build-scrapyd.sh
facility_map.qgz
data/
notebooks/
