[MASTER]
ignore=.ipython,.jupyter
; load-plugins=pylint_sqlalchemy
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]
disable=all

enable=F,E,E1101,E0611,unreachable,duplicate-key,import-error,import-self,unnecessary-semicolon,global-variable-not-assigned,unused-variable,binary-op-exception,bad-format-string,anomalous-backslash-in-string,bad-open-mode

[TYPECHECK]
ignored-classes=scoped_session,Session

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
; output-format=text

# Include message's id in output
; include-ids=yes

# Put messages in a separate file for each module / package specified on the
# command line instead of printing them on stdout. Reports (if any) will be
# written in a file name "pylint_global.[txt|html]".
; files-output=no
