[tool.poetry]
name = "opennem-backend"
version = "3.8.0-beta.12"
description = "OpenNEM Australian Energy Data Backend"
authors = ["Dylan McConnell <dylan.mcconnell@unimelb.edu.au>", "Nik Cubrilovic <nik@infotorch.org>"]
license = "MIT"

readme = "README.md"

homepage = "https://opennem.org.au"
repository = "https://github.com/opennem/opennem"

keywords = ["opennem", "analysis", "australia"]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Scrapy",
  "License :: OSI Approved :: MIT License",
]

include = [
  'scrapy.cfg',
  'opennem/settings/logging.yml'
]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.23.0"
sqlalchemy = "^1.3.17"
sentry-sdk = "^1.1.0"
pydantic = {extras = ["email"], version = "^1.8.2"}
alembic = "^1.6.2"
click = "^7.1.2"
huey = "^2.2.0"
redis = "^3.5.3"
openpyxl = "^3.0.4"
geoalchemy2 = "^0.9.0"
geojson = "^2.5.0"
uvicorn = "^0.14.0"
fastapi = "^0.68.0"
shapely = "^1.7.0"
pyyaml = "^5.3.1"
dictalchemy = "^0.1.2"
pytz = "^2021.1"
Wikidata = "^0.7.0"
wikipedia = "^1.4.0"
pillow = "^8.0.1"
python-dateutil = "^2.8.1"
python-dotenv = "^0.19.0"
Pint = "^0.17"
geojson-pydantic = "^0.3.0"
tomlkit = "^0.7.0"
validators = "^0.18.1"
smart-open = {extras = ["s3"], version = "^5.0.0"}
python-magic = "^0.4.18"
cachetools = "^4.2.0"
psycopg2 = "^2.8.6"
xlrd = "^2.0.1"
datetime-truncate = "^1.1.1"
datedelta = "^1.3"
pandas = "^1.3.0"
osm2geojson = "^0.1.29"
Mako = "^1.1.4"
Scrapy = "^2.5.0"
SQLAlchemy = "^1.4.15"
requests-cache = "^0.7.3"
twilio = "^6.59.0"
py-trello = "^0.18.0"
types-python-dateutil = "^0.1.4"
types-pytz = "^2021.1.0"

[tool.poetry.dev-dependencies]
mysqlclient = "^2.0.3"
black = "^21.5b1"
flake8 = "^3.9.2"
isort = "^5.8.0"
pylint = "^2.8.2"
rope = "^0.19.0"
pylint-sqlalchemy = "^0.2.0"
twine = "^3.1.1"
ipython = "^7.23.1"
pytest = "^6.2.4"
pytest-watch = "^4.2.0"
mypy = "^0.910"
mdutils = "^1.2.2"
sqlalchemy-stubs = "^0.4"
pycodestyle = "^2.6.0"
pytest-benchmark = {extras = ["histogram"], version = "^3.2.3"}
GitPython = "^3.1.12"
pdbpp = "^0.10.2"
pytest-sugar = "^0.9.4"
tox = "^3.23.1"
scrapyd-client = {git = "https://github.com/iamumairayub/scrapyd-client.git"}
types-requests = "^2.25.2"
betamax = "^0.8.1"
jupyter = "^1.0.0"

[tool.poetry.scripts]
opennem = 'opennem.cli:main'

[tool.poetry.extras]
postgres = ["psycopg2"]
server = ["fastapi", "uvicorn"]

[tool.black]
line-length = 99
target_version = ['py38']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |node_modules
  |_build
  |buck-out
  |build
  |dist
  |media
  |infrastructure
  |templates
  |locale
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
