[tool.poetry]
name = "opennem"
version = "3.6.0-alpha.14"
description = "OpenNEM Australian Energy Data"
authors = ["Dylan McConnell <dylan.mcconnell@unimelb.edu.au>", "Nik Cubrilovic <nik@infotorch.org>"]
license = "MIT"

readme = "README.md"

homepage = "https://opennem.org.au"
repository = "https://github.com/opennem/opennem"

keywords = ["opennem", "analysis", "australia"]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Scrapy",
  "License :: OSI Approved :: MIT License",
]

include = [
  'scrapy.cfg',
  'opennem/settings/logging.yml'
]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.23.0"
sqlalchemy = "^1.3.17"
sentry-sdk = "^0.19.3"
scrapy = "^2.1.0"
pydantic = "^1.5.1"
alembic = "^1.4.2"
click = "^7.1.2"
huey = "^2.2.0"
redis = "^3.5.3"
openpyxl = "^3.0.4"
requests_cache = "^0.5.2"
geoalchemy2 = "^0.8.4"
geojson = "^2.5.0"
uvicorn = "^0.12.2"
fastapi = {extras = ["all"], version = "^0.63.0"}
shapely = "^1.7.0"
pyyaml = "^5.3.1"
dictalchemy = "^0.1.2"
pytz = "^2020.1"
Wikidata = "^0.7.0"
wikipedia = "^1.4.0"
pillow = "^8.0.1"
python-dateutil = "^2.8.1"
python-dotenv = "^0.15.0"
Pint = "^0.16.1"
geojson-pydantic = "^0.2.1"
tomlkit = "^0.7.0"
validators = "^0.18.1"
smart-open = {extras = ["all"], version = "^3.0.0"}
python-magic = "^0.4.18"
databases = {extras = ["postgresql"], version = "^0.4.1"}
prometheus-fastapi-instrumentator = "^5.6.0"
cachetools = "^4.2.0"
psycopg2 = "^2.8.6"
xlrd = "^2.0.1"
requests-cache = "^0.5.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.7.8"
isort = "^5.6.4"
pylint = "^2.2"
rope = "^0.18.0"
pylint-sqlalchemy = "^0.2.0"
twine = "^3.1.1"
ipython = "^7.15.0"
pytest = "^6.1.2"
pytest-watch = "^4.2.0"
mypy = "^0.790"
mdutils = "^1.2.2"
sqlalchemy-stubs = "^0.3"
pycodestyle = "^2.6.0"
py-spy = "^0.3.3"
pytest-benchmark = {extras = ["histogram"], version = "^3.2.3"}
uvicorn = {extras = ["watchgodreload"], version = "^0.12.3"}

[tool.poetry.scripts]
opennem = 'opennem.cli:main'

[tool.poetry.extras]
postgres = ["psycopg2"]
server = ["fastapi", "uvicorn"]

[tool.black]
line-length = 99
target_version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |node_modules
  |_build
  |buck-out
  |build
  |dist
  |media
  |infrastructure
  |templates
  |locale
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
