[tool.poetry]
name = "opennem-backend"
version = "3.9.0-rc.15"
description = "OpenNEM Australian Energy Data Backend"
authors = ["Dylan McConnell <dylan.mcconnell@unimelb.edu.au>", "Nik Cubrilovic <nik@infotorch.org>"]
license = "MIT"
packages = [
    { include = "opennem" }
]

readme = "README.md"

homepage = "https://opennem.org.au"
repository = "https://github.com/opennem/opennem"

keywords = ["opennem", "analysis", "australia"]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Scrapy",
  "License :: OSI Approved :: MIT License"
]

include = [
  'scrapy.cfg',
  'opennem/settings/logging.yml'
]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.23.0"
sentry-sdk = "^1.5.4"
pydantic = {extras = ["email"], version = "^1.8.2"}
alembic = "^1.6.2"
click = "^8.0.3"
huey = "^2.2.0"
redis = "3.4.1"
openpyxl = "^3.0.4"
geoalchemy2 = "^0.9.0"
geojson = "^2.5.0"
uvicorn = "^0.17.5"
fastapi = "^0.74.0"
shapely = "^1.7.0"
pyyaml = "^5.3.1"
pytz = "^2021.1"
Wikidata = "^0.7.0"
wikipedia = "^1.4.0"
pillow = "^8.0.1"
python-dateutil = "^2.8.1"
python-dotenv = "^0.19.0"
Pint = "^0.17"
geojson-pydantic = "^0.3.0"
tomlkit = "^0.7.0"
validators = "^0.18.1"
smart-open = {extras = ["s3"], version = "^5.0.0"}
python-magic = "^0.4.18"
cachetools = "^4.2.0"
psycopg2 = "^2.9.3"
xlrd = "^2.0.1"
datetime-truncate = "^1.1.1"
datedelta = "^1.3"
pandas = "^1.3.3"
osm2geojson = "^0.1.29"
Mako = "^1.1.4"
Scrapy = "^2.5.1"
SQLAlchemy = "^1.4.15"
requests-cache = "^0.9.1"
py-trello = "^0.18.0"
gitignore-parser = "^0.0.8"
rich = "^11.0.0"
GeoAlchemy = "^0.7.2"


[tool.poetry.dev-dependencies]
mysqlclient = "^2.0.3"
black = "^22.1.0"
flake8 = "^4.0.1"
isort = "^5.8.0"
pylint = "^2.8.2"
rope = "^0.19.0"
pylint-sqlalchemy = "^0.2.0"
twine = "^3.1.1"
ipython = "^8.0.1"
pytest = "^7.0.1"
pytest-watch = "^4.2.0"
mypy = "^0.931"
mdutils = "^1.2.2"
sqlalchemy-stubs = "^0.4"
pycodestyle = "^2.8.0"
pytest-benchmark = {extras = ["histogram"], version = "^3.2.3"}
GitPython = "^3.1.12"
pdbpp = "^0.10.2"
pytest-sugar = "^0.9.4"
tox = "^3.23.1"
scrapyd-client = {git = "https://github.com/iamumairayub/scrapyd-client.git"}
types-requests = "^2.25.2"
betamax = "^0.8.1"
types-python-dateutil = "^2.8.0"
types-pytz = "^2021.1.0"
coverage = "^6.3.1"
pytest-cov = "^3.0.0"
types-cachetools = "^4.2.0"
types-PyYAML = "^5.4.10"
aws-cdk-lib = "^2.9.0"
pyflakes = "^2.4.0"

[tool.poetry.scripts]
opennem = 'opennem.cli:main'

[tool.poetry.extras]
postgres = ["psycopg2"]
server = ["fastapi", "uvicorn"]

[tool.black]
line-length = 99
target_version = ['py38']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |node_modules
  |_build
  |buck-out
  |build
  |dist
  |media
  |infrastructure
  |templates
  |locale
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
