[tool.poetry]
name = "opennem"
version = "0.4.0"
description = "opennem engine agent"
authors = ["Dylan McConnell <dylan.mcconnell@unimelb.edu.au>"]
license = "MIT"

readme = "README.md"

homepage = "https://opennem.org.au"
repository = "https://github.com/opennem/opennem"

keywords = ["opennem", "analysis", "australia"]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Scrapy",
  "License :: OSI Approved :: MIT License",
]

include = [
  'scrapy.cfg'
]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.23.0"
sqlalchemy = "^1.3.17"
pyyaml = "^5.3.1"
python-dotenv = "^0.13.0"
sentry-sdk = "^0.14.4"
scrapy = "^2.1.0"
smart_open = "^2.0.0"
pydantic = "^1.5.1"
alembic = "^1.4.2"
click = "^7.1.2"
psycopg2 = {version = "^2.8.5", optional = true}
huey = "^2.2.0"
fastapi = {version = "^0.58.0", optional = true}

[tool.poetry.dev-dependencies]
black = "19.10b0"
flake8 = "^3.7.8"
isort = "^4.3.21"
pylint = "^2.2"
rope = "^0.16.0"
pylint-django = "^2.0.14"
pylint-sqlalchemy = "^0.2.0"
twine = "^3.1.1"
ipython = "^7.15.0"

[tool.poetry.scripts]
opennem = 'opennem.cli:main'

[tool.black]
line-length = 79
target_version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(\.git/
  |\.eggs
  |__pycache__
  |\.cache
  |\.ipynb_checkpoints
  |\.mypy_cache
  |\.pytest_cache
  |\.tox
  |\.venv
  |node_modules
  |_build
  |buck-out
  |build
  |dist
  |media
  |infrastructure
  |templates
  |locale
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 79

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
