[settings]
default = opennem.settings.scrapy


[deploy:local]
url = http://127.0.0.1:6800/
project = opennem


[deploy:dev]
url = https://scrapyd.dev.opennem.org.au/
project = opennem

[deploy:prod]
url = https://scrapyd.prod.opennem.org.au/
project = opennem
